%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title bounce
    %link{rel: 'stylesheet', href:'css/bootstrap.css'}
    %link{rel: 'stylesheet', href:'css/flat-ui.css'}
    %link{rel: 'stylesheet', href:'css/bounce.css'}
  %body
    .container
      .demo-headline
        %h1.demo-logo
          Bounce
          %small
            search all of the things
      .row
        .span12
          .navbar.navbar-inverse
            .navbar-inner
              .nav-collapse.collapse
                %ul.nav
                  %li
                    %a{href: '/'} Home
                  %li
                    %a{href: '/nodes'} Nodes
                  %li
                    %a{href: '/balancers'} Load Balancers
                  %li
                    %a{href: kibana_url} Kibana
      .row
        .span12
          = yield
      .row
        .span12
          %hr
            = "bounce: rev/#{REVISION} on/#{HOSTNAME}"
      .row
        .span12
          %hr