%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %title bounce
  %body
    %h1 ElasticSearch nodes
    #nav
      %a{href: "/nodes"} Nodes
      %a{href: "/clusters"} Clusters
      %a{href: "/balancers"} Load Balancers
    = yield